* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@500;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Mono:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}
.menu {
  height: 80px;
  background-color: #010326;
  position: sticky;
  top: 0;
}
@media (max-width: 600px) {
  .menu {
    height: 40px;
  }
}

.a-menu {
  color: white;
  text-decoration: none;
}
.a-menu:hover,
.a-menu:focus {
  color: #ac43d9;
}

.text-menu {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}
@media (max-width: 600px) {
  .text-menu {
    display: none;
  }
}

.menu-mobile {
  display: none;
}

@media (max-width: 600px) {
  .menu-mobile {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
  /*.menu-mobile:hover,
  .menu-mobile:focus {
    quero mudar de icon quando clicar no menu 
  }*/
}

/*.linha {
  background-color: #ac43d9;
  z-index: 2;
  height: 3px;
  padding-left: 160px;
} diminuir a largura e deixar ela centralizada */

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-image: url(../img/fundo-inicial.png);
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .container1 {
    height: 300px;
  }
}

.estilo-hey {
  font-weight: 980;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 150px;
  animation: bounce infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
@media (max-width: 600px) {
  .estilo-hey {
    font-size: 50px;
    padding-top: 70px;
  }
}

.estilo-text-topo {
  font-family: "Roboto", sans-serif;
  font-weight: 980;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 140px;
}
@media (max-width: 600px) {
  .estilo-text-topo {
    font-size: 20px;
    padding-top: 50px;
  }
}

.estilo-subtext-topo {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(26) infinite, blink 400ms steps(26) infinite;
  border-right: 10px solid white;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}
@media (max-width: 600px) {
  .estilo-subtext-topo {
    font-size: 15px;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
}

.titulos {
  width: fit-content;
  font-size: 30px;
}
@media (max-width: 600px) {
  .titulos {
    font-size: 20px;
  }
}

.container2 {
  height: fit-content;
  background-color: #010326;
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .container2 {
    padding: 50px;
  }
}

h2 {
  width: 500px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}
@media (max-width: 600px) {
  .h2 {
    font-size: 3px;
  }
}

.sub-titulo {
  align-self: flex-start;
  padding: 60px 0 10px 0;
  font-size: 26px;
}

.p-textos {
  padding-top: 20px;
  line-height: 40px;
  font-size: 24px;
  text-align: justify;
}

.text {
  padding-top: 30px;
  font-size: 24px;
}
@media (max-width: 600px) {
  .text {
    font-size: 10px;
  }
}

.a-text {
  color: #ac43d9;
  text-decoration: none;
}

.container3 {
  height: fit-content;
  background-color: white;
  padding: 150px;
  color: #010326;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .container3 {
    padding: 50px;
  }
}

.container4 {
  height: 600px;
  background-color: black;
  padding: 150px;
}
@media (max-width: 600px) {
  .container4 {
    padding: 50px;
  }
}

.projeto {
  background-color: aqua;
  height: 100px;
  width: 100px;
}

.projeto > img {
  height: 300px;
  width: 300px;
  padding: 20px;
}

.container5 {
  height: fit-content;
  background-color: #ac43d9;
  padding: 150px;
}
@media (max-width: 600px) {
  .container5 {
    padding: 50px;
  }
}

.tamanho-icon {
  height: 80px;
  padding: 50px;
  transition: transform 0.3s;
  transform: translateX(0) scale(0.5);
}
.tamanho-icon:hover,
.tamanho-icon:focus {
  transform: translateX(10px) scale(1.2);
}
@media (max-width: 600px) {
  .tamanho-icon {
    height: 50px;
    padding: 5px;
    transition: transform 0.3s;
    transform: translateX(0) scale(0.5);
  }
  .tamanho-icon:hover,
  .tamanho-icon:focus {
    transform: translateX(10px) scale(1.2);
  }
}

footer {
  height: 100px;
  background-color: #010326;
  text-align: center;
  padding: 150px;
}
@media (max-width: 600px) {
  footer {
    height: 60px;
    padding: 50px;
  }
  footer > h3 {
    font-size: 8px;
  }
}
