* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@500;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Mono:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.menu {
  height: 80px;
  background-color: #010326;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  .menu {
    height: 40px;
  }
}

.a-menu {
  color: white;
  text-decoration: none;
}
.a-menu:hover,
.a-menu:focus {
  color: #ac43d9;
}

.text-menu {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}
@media (max-width: 600px) {
  .text-menu {
    display: none;
  }
}

.menu-mobile {
  display: none;
}
@media (max-width: 600px) {
  .menu-mobile {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
  /*.menu-mobile:hover,
  .menu-mobile:focus {
    quero mudar de icon quando clicar no menu 
  }*/
}

.linhas {
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -150px;
}

.linha-max {
  background-color: #ac43d9;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.linha-min {
  background-color: #f3bfff;
  height: auto;
  width: 30%;
  text-align: center;
  border-radius: 50%;
}

.container-topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-image: url(../img/fundo-inicial.png);
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .container1 {
    height: 300px;
  }
}

.estilo-hey {
  font-weight: 980;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 150px;
  animation: bounce infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
@media (max-width: 600px) {
  .estilo-hey {
    font-size: 50px;
    padding-top: 70px;
  }
}

.estilo-text-topo {
  font-family: "Roboto", sans-serif;
  font-weight: 980;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 140px;
}
@media (max-width: 600px) {
  .estilo-text-topo {
    font-size: 20px;
    padding-top: 50px;
  }
}

.estilo-subtext-topo {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(26), blink 400ms steps(26) infinite;
  border-right: 10px solid white;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 402px;
  }
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}
@media (max-width: 600px) {
  .estilo-subtext-topo {
    font-size: 15px;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
}

.titulos {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 600px) {
  .titulos {
    font-size: 20px;
  }
}

.container-sobre {
  height: fit-content;
  background-color: #010326;
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .container-sobre {
    padding: 50px;
  }
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}
@media (max-width: 600px) {
  .h2 {
    font-size: 3px;
  }
}

.sub-titulo {
  align-self: flex-start;
  padding: 60px 0 10px 0;
  font-size: 26px;
  color: #010326;
}

.p-textos {
  line-height: 40px;
  font-size: 24px;
  text-align: justify;
  padding-top: 15px;
}

@media (max-width: 600px) {
  .text {
    font-size: 10px;
  }
}

.a-text {
  color: #ac43d9;
  text-decoration: none;
}

.container-hobbies {
  height: fit-content;
  background-color: white;
  color: #010326;
  padding: 150px;
}
@media (max-width: 600px) {
  .container-hobbies {
    padding: 50px;
  }
}

.container-vida-academica {
  height: fit-content;
  background-color: #010326;
  padding: 150px;
  color: white;
}
@media (max-width: 600px) {
  .container-vida-academica {
    height: fit-content;
    background-color: #ac43d9;
    padding: 150px;
  }
}

.container-vida-profissional {
  height: fit-content;
  background-color: white;
  padding: 150px;
  color: #010326;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .container-vida-profissional {
    padding: 50px;
  }
}

.container4 {
  height: fit-content;
  background-color: #010326;
  padding: 150px;
  color: white;
}
@media (max-width: 600px) {
  .container4 {
    padding: 50px;
  }
}
.projetos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}
.projeto {
  padding: 1rem 1rem 5rem 1rem;
  background-color: #ffff;
}
.projeto > img {
  height: 30rem;
  width: 30rem;

  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.projeto:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.06);
  cursor: pointer;
}
.branco {
  height: 1px;
  background-color: #ac43d9;
}

.tamanho-icon {
  height: 80px;
  padding: 50px;
  transition: transform 0.3s;
  transform: translateX(0) scale(0.5);
}
.tamanho-icon:hover,
.tamanho-icon:focus {
  transform: translateX(10px) scale(1.2);
}
@media (max-width: 600px) {
  .tamanho-icon {
    height: 50px;
    padding: 5px;
    transition: transform 0.3s;
    transform: translateX(0) scale(0.5);
  }
  .tamanho-icon:hover,
  .tamanho-icon:focus {
    transform: translateX(10px) scale(1.2);
  }
}

footer {
  height: 100px;
  background-color: #010326;
  text-align: center;
  padding: 150px;
}
@media (max-width: 600px) {
  footer {
    height: 60px;
    padding: 50px;
  }
  footer > h3 {
    font-size: 8px;
  }
}
